[submodule "bundle/command-t"]
	path = .vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/YankRing.vim"]
	path = .vim/bundle/YankRing.vim
	url = git://github.com/vim-scripts/YankRing.vim.git
[submodule "bundle/snipmate.vim"]
	path = .vim/bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/zencoding-vim"]
	path = .vim/bundle/zencoding-vim
	url = http://github.com/mattn/zencoding-vim.git
[submodule "bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vim-matchit"]
	path = .vim/bundle/vim-matchit
	url = git://github.com/tsaleh/vim-matchit.git
[submodule "bundle/taglist"]
	path = .vim/bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/supertab"]
	path = .vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/vim-easymotion"]
	path = .vim/bundle/vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/ack"]
	path = .vim/bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/vip"]
	path = .vim/bundle/vip
	url = git://github.com/tobyS/vip.git
[submodule "bundle/vim-powerline"]
	path = .vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline
[submodule "bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/delimitMate"]
	path = .vim/bundle/delimitMate
	url = git://github.com/vim-scripts/delimitMate.vim.git
