[submodule ".vim/bundle/nercommenter"]
	path = .vim/bundle/nercommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule ".vim/bundle/pdv-standalone"]
	path = .vim/bundle/pdv-standalone
	url = https://github.com/mikehaertl/pdv-standalone.git
[submodule ".vim/bundle/YankRing.vim"]
	path = .vim/bundle/YankRing.vim
	url = git://github.com/vim-scripts/YankRing.vim.git
[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = git://github.com/wincent/Command-T.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/snipmate.vim"]
	path = .vim/bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = git://github.com/vim-scripts/SuperTab-continued..git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule ".vim/bundle/vim-easymotion"]
	path = .vim/bundle/vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "vim-matchit"]
	path = vim-matchit
	url = git://github.com/tsaleh/vim-matchit.git
[submodule ".vim/bundle/vim-powerline"]
	path = .vim/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/zencoding-vim"]
	path = .vim/bundle/zencoding-vim
	url = git://github.com/mattn/zencoding-vim.git
